<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <style>
        .slider {
            display: flex;
            flex-direction: row;
            /*justify-content: center;*/
            width: 900px;
            margin: 0 auto;
            overflow: hidden;
            align-items: center;
            height: 500px;
            list-style: none;
            padding: 0px;
        }
        .slider li{
            /*height: 500px;
            width: 900px;*/
            margin: 0 auto;

        }
        
        .slider li img {
            width: auto;
            height: 500px;
            object-fit: cover;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 900px;
            margin: 0 auto;
        }
        .errorClass {
            display: none;
        }

        .ejecVue2 {
            width: 900px;
            margin: 50px auto 100px auto;
        }
        .contFrutas {
            width: 50%;
            margin: 0 auto;
        }
        .contFrutas ul {
            padding: 0px;
        }
        .contFrutas ul li{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .title {
            text-align: center;
        }
        button {
            
            background-color: #91da0a;
            color: white;
            padding: 11px;
            border-radius: 8px;
        }
        button.fa-trash {
            color: red;
        }
        .alert p {
            color: red;
            display: none;
        }  
        .show {
            display: block;
        } 
        input {
            display: block;
        }

        .toDo {
            margin-bottom: 40px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        button.disabled {
            cursor: default;
            background-color:#eee;
        }
        button.disabled.true {
            cursor: pointer;
            background-color:#91da0a;
        }
        .contFrutas .slider {
            width: auto;
        }
        .slider3 ul li {
            display: initial;
        }
        /*ul.slider li{
            display: initial;
        }*/
    </style>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="ejecVue1">
            {{ message }}
            <div v-on:mouseover="stopRotation" v-on:mouseout="startRotation">
                <ul class="slider">
                    <li v-for="(arreglo, index) in arreglos" 
                        v-bind:class="[index == 0 ? 'active' : 'errorClass']"
                        >
                        <img v-bind:src="arreglo.src" 
                            v-bind:alt="arreglo.alt" 
                            v-bind:title="arreglo.title"
                            draggable="true"
                        >
                    </li>
                </ul>
                <div class="buttons">
                    <div>
                        <button v-on:click='prev' ><i class="fas fa-chevron-circle-left"></i></button>
                    </div>
                    <div>
                        <button v-on:click='next'><i class="fas fa-chevron-circle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="ejerVue2" class="ejecVue2">
            <h2 class="title">{{ message }}</h2>
            <div class="contFrutas">
                <ul v-if="frutas.length > 0">
                    <li v-for="(fruta, index) in frutas">
                        <span v-text='fruta.text'></span>
                        <a v-text='fruta.a' v-bind:href='fruta.a' target="_blank"></a>
                        <img v-bind:src="fruta.image.src" v-bind:alt="fruta.image.alt" v-bind:title="fruta.image.title" />
                        <div class="toDo">
                            <button v-on:click='editar(index)' v-if="!editing"><i class="fas fa-pencil-alt"></i></button>
                            <button v-on:click='borrar(index)' ><i class="fas fa-trash"></i></button>
                        </div>
                    </li>
                </ul>
                <div v-else>No hay elementos que mostrar</div>
                <div>
                    <div>
                        <label for="">Ingrese titulo:</label>
                        <input type="text" v-model="item_on_edit.text">
                    </div>
                    <div>
                        <label for="">Ingrese url:</label>
                        <input id="url" type="url" v-model="item_on_edit.a">
                    </div>
                    <div>
                        <label for="">Ingrese liga de image: </label>
                        <input type="url" v-model="item_on_edit.image.src">
                    </div>
                    <div>
                        <label for="">Ingrese alt de imagen: </label>
                        <input type="url" v-model="item_on_edit.image.alt">
                    </div>
                    <label for="">Ingrese title de imagen: </label>
                    <input type="url" v-model="item_on_edit.image.title">
                    
                    <button id="myBtn" class="disabled" v-on:click='validCreate()'><i class="fas fa-plus-circle"></i></i></button>
                </div>
                <div class="alert">
                    <p>Ingrese contenido</p>
                </div>
            </div>
        </div>
       
       <div id="ejecVue3">
            <div class="contFrutas slider3">
                <div v-on:mouseover="stopRotation" v-on:mouseout="startRotation">
                    <ul class="slider" v-if="frutas.length > 0">
                        <li v-for="(fruta, index) in frutas" 
                            v-bind:class="[index == 0 ? 'active' : 'errorClass']"
                            >
                            <!-- <a v-text='fruta.a' v-bind:href='fruta.a' target="_blank"> </a>-->
                                
                            
                            <img v-bind:src="fruta.image.src"
                                v-bind:alt="fruta.image.alt"
                                v-bind:title="fruta.image.title"
                                draggable="true"
                            >
                            <div class="toDo" >
                                <button v-on:click='editar(index)' v-if="!editing"><i class="fas fa-pencil-alt"></i></button>
                                <button v-on:click='borrar(index)' ><i class="fas fa-trash"></i></button>
                            </div>
                        </li>
                    </ul>

                    <div v-else>No hay elementos que mostrar</div>

                    <div class="buttons" v-if="frutas.length > 1">
                        <div>
                            <button v-on:click='prev' ><i class="fas fa-chevron-circle-left"></i></button>
                        </div>
                        <div>
                            <button v-on:click='next'><i class="fas fa-chevron-circle-right"></i></button>
                        </div>
                    </div>



                    
                    <div>
                        <div>
                            <label for="">Ingrese titulo:</label>
                            <input type="text" v-model="item_on_edit.text">
                        </div>
                        <div>
                            <label for="">Ingrese url:</label>
                            <input id="url" type="url" v-model="item_on_edit.a">
                        </div>
                        <div>
                            <label for="">Ingrese liga de image: </label>
                            <input type="url" v-model="item_on_edit.image.src">
                        </div>
                        <div>
                            <label for="">Ingrese alt de imagen: </label>
                            <input type="url" v-model="item_on_edit.image.alt">
                        </div>
                        <label for="">Ingrese title de imagen: </label>
                        <input type="url" v-model="item_on_edit.image.title">
                        
                        <button id="myBtn" class="disabled" v-on:click='validCreate()'><i class="fas fa-plus-circle"></i></i></button>
                       <!--  <button id="myBtn" class="" v-on:click='validCreate()' v-else><i class="fas fa-plus-circle"></i></i></button> -->
                    </div>
                    <div class="alert">
                        <p>Ingrese contenido</p>
                    </div>
                </div>
            </div>
       </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/functions.js"></script>
        

    </body>
</html>
